            img.logo {
                border-radius: 30% 30% 30% 30%;
                box-shadow: 0 0 5px 5px white inset;
                float: left;
            }
            
            html {
                background-image: url(wp2951439-simple-background-hd.jpg);
                opacity: 0.9
                /*source: https://www.pngwing.com/*/
            }
            
            * {
                font-family: sans-serif;
                padding: 0.1%;
                margin: 0%;
            }
            
            h1.logoName:hover {
                font-size: 36px;
            }
            
            body img#main {
                opacity: 0.5;
                float: center;
            }
            /*----- 
            nav ul {
                display: grid;
                grid-template-columns: repeat(3, 15%);
                grid-gap: 1%;
                justify-content: center;
                justify-items: center;
                list-style-type: none;
            }
            ---*/
            
            nav ul {
                padding: .5em;
                list-style-type: none;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
            }
            
            nav ul li {
                font-size: 1.3em;
                font-weight: bold;
                animation-name: example;
                animation-duration: 4s;
            }
            
            nav ul li:hover {
                background-color: lightgreen;
                font-size: 30px;
            }
            
            pre#info {
                font-size: x-large;
                font-weight: bold;
            }
            
            @keyframes example {
                from {
                    background-color: red;
                }
                to {
                    background-color: yellow;
                }
            }